* {
  box-sizing: border-box;
  touch-action: pan-y;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: #fff;
}

html,
body,
#root,
.App {
  height: 100%;
}

h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

.route-loading {
  padding-top: 100px;
  text-align: center;
}
